@use '@angular/material'as mat;
@use 'dbx-web/src/index'as dbx;
@use './style/style';

$app-typography-config: mat.define-typography-config();

@include mat.core($app-typography-config);
@include dbx.core($app-typography-config);

@include style.default-theme();
@include style.doc-theme('.doc-app');
// NOTE: There is a third style that is lazy-loaded within demo.

html,
body {
  background: black;
  height: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
