{
  "arrowParens": "always",
  "bracketSameLine": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": false,
  "quoteProps": "as-needed",
  "semi": true,
  "tabs": false,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",
  "singleAttributePerLine": false
}
