# Add files here to ignore them from prettier formatting

/.angular
/.circleci
/.config
/.firebase
/.github
/.claude
/.husky
/.reports
/.vscode

/dist
/coverage
/setup/**/*.template.json

/art
/docker
.commitlintrc.json
.eslintrc.json
*.md

/.nx/cache
/.nx/workspace-data