rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /pr/{profile} {
      allow read: if true;
      allow list: if false;
    }

    match /gb/{guestbook} {
      allow read: if resourceIsPublished();

      match /gbe/{guestbookEntry} {

        // Can read any entry that is owned or published.
        allow get: if resourceIsPublished() || resourceIsOwnedByAuthUserId();

        // Can only query if the guestbook entry is published.
        allow list: if resourceIsPublished();
      }
    }

    // collection group example
    // https://firebase.google.com/docs/firestore/security/rules-query#collection_group_queries_and_security_rules
    match /{path=**}/gbe/{guestbookEntry} {

      // Can read any entry that is owned or published.
      allow get: if resourceIsPublished() || resourceIsOwnedByAuthUserId();

      // Can only query if the guestbook entry is published.
      allow list: if resourceIsPublished();
    }

    function resourceIsPublished() {
      return resource != null && resource.data != null && resource.data.published == true;
    }

    function resourceIsOwnedByAuthUserId() {
      return resource != null && request.auth != null && (resource.id == request.auth.uid);
    }

  }
}
