rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /profile/{profile} {
      allow read: if true;
      allow list: if false;
    }

    match /guestbook/{guestbook} {
      allow read: if resourceIsPublished();

      match /entry/{entry} {

        // Can read any entry that is owned or published.
        allow get: if resourceIsPublished() || resourceIsOwnedByAuthUserId();

        // Can only query if the guestbook entry is published.
        allow list: if resourceIsPublished();
      }
    }

    function resourceIsPublished() {
      return (resource.data.published != false);
    }

    function resourceIsOwnedByAuthUserId() {
      return (resource.id == request.auth.uid);
    }

  }
}
