@use '@angular/material' as mat;
@use 'dbx-web/src/index' as dbx;

.landing {
  overflow: scroll;
  height: 100%;
  box-sizing: border-box;

  .hero {
    overflow: hidden;
    height: 220px;
    text-align: center;
  }

  padding-bottom: 120px;
}

.package-list {
  .package-list-item {
    margin-bottom: 8px;

    p,
    h4 {
      margin: 0;
    }
  }

  .package-primary-package-list {
    margin: 4px 0;
  }
}

.features {
}

.star-on-github-widget {
  // https://buttons.github.io/

  display: inline-block;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;

  .star-on-github {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    text-decoration: none;
    outline: 0;
    color: #24292f;
    background-color: #ebf0f4;
    border-color: rgba(27, 31, 36, 0.15);
    background-image: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);

    border-radius: 0.25em;

    position: relative;
    display: inline-flex;
    height: 14px;
    padding: 2px 5px;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    vertical-align: bottom;
    cursor: pointer;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid;
  }
}
