@use '@angular/material'as mat;
@use '@dereekb/dbx-web'as dbx;
@use '@dereekb/dbx-form' as dbx-form;
@use '@dereekb/dbx-firebase' as dbx-firebase;
@use './style/style';

$app-typography-config: mat.m2-define-typography-config(
  $font-family: 'Fira Sans'
);

// define all densities here since each theme uses the same density
@include mat.all-component-densities(0);

// define the topographies here since the themes use the same and we don't want to re-declare the config
@include mat.all-component-typographies($app-typography-config);
@include dbx.all-component-typographies($app-typography-config);
@include dbx-form.all-component-typographies($app-typography-config);
@include dbx-firebase.all-component-typographies($app-typography-config);

@include style.dark-app-theme('.app-theme-dark');
@include style.app-theme('.app-theme');

html,
body {
  background: black;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
}

body {
  margin: 0;
}

mgl-map {
  height: 100%;
  width: 100%;
}

// Emulator Warning
.firebase-emulator-warning {
  font-size: 0.5em;
  height: 8px;
  border: none !important;
  overflow: hidden;
  background: red !important;
  color: white !important;
}
