@use '@angular/material'as mat;
@use '@dereekb/dbx-web'as dbx;
@use '@dereekb/dbx-form' as dbx-form;
@use '@dereekb/dbx-firebase' as dbx-firebase;
@use './style/style';

@include mat.core();
@include dbx.core();
@include dbx-form.core();
@include dbx-firebase.core();

@include style.dark-app-theme('.app-theme-dark');
@include style.app-theme('.app-theme');

html,
body {
  background: black;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
}

body {
  margin: 0;
}
