<div dbxBody dbxStyleBody dbxFirebaseDevelopment>
  <mat-toolbar class="app-toolbar">
    <dbx-anchor [anchor]="landing">
      <dbx-button basic icon="app_shortcut" text="DbxComponents"></dbx-button>
    </dbx-anchor>
    <dbx-button-spacer></dbx-button-spacer>
    <dbx-anchor [anchor]="doc">
      <dbx-button basic text="Docs"></dbx-button>
    </dbx-anchor>
    <dbx-button-spacer></dbx-button-spacer>
    <dbx-anchor [anchor]="demo">
      <dbx-button basic text="Demo"></dbx-button>
    </dbx-anchor>
    <span class="spacer"></span>
    @if (showEmulatorButton) {
      <dbx-anchor [anchor]="emulator">
        <dbx-button flat color="accent" text="Emulator Enabled"></dbx-button>
      </dbx-anchor>
    }
    <span class="spacer"></span>
    @if (showToggleDarkThemeButtonSignal()) {
      <dbx-anchor [anchor]="toggleDarkTheme">
        <dbx-button basic text="Toggle Dark Theme"></dbx-button>
      </dbx-anchor>
    }
    <dbx-anchor [anchor]="github">
      <dbx-button basic icon="code" text="Github"></dbx-button>
    </dbx-anchor>
  </mat-toolbar>
  <ui-view></ui-view>
</div>
