<dbx-two-column dbxTwoColumnContext [dbxTwoColumnSref]="notificationItemListRef" dbxTwoColumnSrefShowRight>
  <dbx-two-block left>
    <dbx-two-column-head top>
      <ng-container dbxAction dbxActionValue dbxActionSnackbarError [dbxActionHandler]="handleCreateTestNotification" [dbxActionDisabled]="reachedTestLimit$ | async">
        <dbx-button dbxActionButton text="New Notification"></dbx-button>
      </ng-container>
    </dbx-two-column-head>
    <dbx-firebase-notificationitem-list [state$]="notificationItemsLoadingState$" [dbxListItemModifier] [dbxListItemAnchorModifier]="makeNotificationItemAnchor">
      <dbx-list-empty-content empty>
        <p>There are no notifications.</p>
      </dbx-list-empty-content>
    </dbx-firebase-notificationitem-list>
  </dbx-two-block>
  <ui-view right></ui-view>
</dbx-two-column>
