@use '@angular/material'as mat;
@use 'dbx-web/src/index'as dbx;

.landing {
  overflow: scroll;
  height: 100%;
  box-sizing: border-box;

  .hero {
    overflow: hidden;
    height: 220px;
    text-align: center;
  }

  padding-bottom: 120px;
}

.package-list {
  .package-list-item {
    margin-bottom: 8px;

    p,
    h4 {
      margin: 0;
    }
  }

  .package-primary-package-list {
    margin: 4px 0;
  }
}

.features {}
