<dbx-content-page>
  <dbx-content-container>
    <dbx-content-box>
      <h2>Home Page</h2>
      <p>This is the home page of the app once you're logged in.</p>
      <p>As part of this demo you can edit your profile, or sign a guestbook.</p>
      <dbx-anchor ref="demo.app.profile">
        <button mat-button>Edit My Profile</button>
      </dbx-anchor>
      <dbx-anchor ref="demo.app.guestbook">
        <button mat-button>Sign Guestbook</button>
      </dbx-anchor>
    </dbx-content-box>
  </dbx-content-container>
</dbx-content-page>
