<dbx-section-page header="Profile">
  <dbx-loading [linear]="true" [context]="context">
    <dbx-content-box [wide]="true">
      <dbx-section header="Avatar">
        <div class="dbx-flex-bar" dbxFirebaseStorageFileUploadStore [multipleUpload]="false" fileTypesAccepted="image/*">
          <ng-content>
            <div dbxAction dbxFirebaseStorageFileDocument dbxFirebaseStorageFileUploadInitializeDocument>
              <div class="dbx-flex-bar">
                <dbx-loading dbxActionLoadingContext>
                  <dbx-avatar avatarSize="large" [avatarUrl]="avatarUrlSignal()"></dbx-avatar>
                </dbx-loading>
                <span class="dbx-button-spacer"></span>
                <div>
                  <dbx-label-block header="Profile Picture">
                    <div class="dbx-hint">A clear, professional headshot is recommended.</div>
                  </dbx-label-block>
                </div>
              </div>
            </div>
            <span class="dbx-spacer"></span>
            <!-- Action Space -->
            <div dbxAction dbxActionSnackbarError [dbxFirebaseStorageFileUploadActionHandler]="avatarUploadHandler" [triggerOnFiles]="true">
              <dbx-file-upload [buttonStyle]="{ type: 'raised' }" dbxFileUploadActionSync mode="button" icon="upload" text="Upload Photo" dbxFirebaseStorageFileUploadSync></dbx-file-upload>
            </div>
          </ng-content>
        </div>
      </dbx-section>
    </dbx-content-box>
    <dbx-content-box [wide]="true">
      <dbx-section dbxAction dbxActionEnforceModified [dbxActionHandler]="handleChangeUsername" header="Username ({{ username$ | async }})" hint="Change your profile username.">
        <demo-profile-username-form dbxActionForm [dbxFormSource]="profileData$" [dbxActionFormIsModified]="isUsernameModified"></demo-profile-username-form>
        <dbx-button dbxActionButton text="Change Username"></dbx-button>
        <dbx-error dbxActionError></dbx-error>
        <div *dbxActionHasSuccess="3000" class="dbx-success">Success</div>
      </dbx-section>
    </dbx-content-box>
    <dbx-content-box [wide]="true">
      <dbx-section header="Information" dbxAction dbxActionAutoTrigger useFastTriggerPreset dbxActionEnforceModified [dbxActionHandler]="handleUpdateProfile" hint="Change your profile information.">
        <demo-profile-form [dbxActionFormDisabledOnWorking]="false" dbxActionForm [dbxFormSource]="profileData$" [dbxActionFormIsModified]="isProfileModified"></demo-profile-form>
        <dbx-error dbxActionError></dbx-error>
        <dbx-loading-progress *dbxActionIsWorking [linear]="true"></dbx-loading-progress>
        <div *dbxActionHasSuccess="3000" class="dbx-success">Saved Changes</div>
      </dbx-section>
    </dbx-content-box>
    <dbx-content-box [wide]="true">
      <dbx-section header="Download Files">
        <div>
          <dbx-firebase-storagefile-download-button [config]="avatarDownloadButtonConfig" [storageFileKey]="avatarStorageFileKeySignal()"></dbx-firebase-storagefile-download-button>
        </div>
        <p></p>
        <div>
          <dbx-firebase-storagefile-download-button [config]="archiveDownloadButtonConfig" [source]="archiveDownloadSource"></dbx-firebase-storagefile-download-button>
        </div>
      </dbx-section>
    </dbx-content-box>
  </dbx-loading>
</dbx-section-page>
