<dbx-loading [linear]="true" [context]="context">
  <dbx-content-container>
    <dbx-two-block class="guestbook-view">
      <div top class="guestbook-view-header">
        <h2>{{ name$ | async }}</h2>
      </div>
      <div class="guestbook-view-content">
        <mat-divider></mat-divider>
        <div>
          
        </div>
        <div>
          <demo-guestbook-entry-list dbxFirebaseCollectionList demoGuestbookEntryCollection>
            <dbx-list-empty-content empty>
              <p>There are no entries yet in the guest book.</p>
            </dbx-list-empty-content>
          </demo-guestbook-entry-list>
        </div>
      </div>
    </dbx-two-block>
  </dbx-content-container>
</dbx-loading>
