@use '@angular/material' as mat;
@use 'dbx-web/src/index' as dbx;
@use 'dbx-form/src/index' as dbx-form;
@use 'dbx-firebase/src/index' as dbx-firebase;
@use './style/style';

$app-typography-config: mat.define-typography-config(
  $font-family: 'Fira Sans'
);

@include mat.core();
@include dbx.core();
@include dbx-form.core();
@include dbx-firebase.core();

// define all densities here since each theme uses the same density
@include mat.all-component-densities(0);

// define the topographies here since the themes use the same and we don't want to re-declare the config
@include mat.all-component-typographies($app-typography-config);
@include dbx.all-component-typographies($app-typography-config);
@include dbx-form.all-component-typographies($app-typography-config);
@include dbx-firebase.all-component-typographies($app-typography-config);

@include style.dark-doc-theme('.doc-app-dark');
@include style.doc-theme('.doc-app');

html,
body {
  background: black;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Fira Sans', sans-serif;
}

a {
  color: inherit;
}

body {
  margin: 0;
}

mgl-map {
  height: 100%;
  width: 100%;
}

// Emulator Warning
.firebase-emulator-warning {
  font-size: 0.5em;
  height: 8px;
  border: none !important;
  overflow: hidden;
  background: red !important;
  color: white !important;
}
