<div class="dbx-app-page landing-page dbx-background" dbxSetStyle="app-theme" suffixes="dark"
  dbxAppContextState="landing">
  <div class="landing">
    <div class="hero dbx-primary-bg" fxLayout="column">
      <dbx-spacer></dbx-spacer>
      <dbx-content-container>
        <h1 class="headline">DbxComponents Template Project</h1>
        <div>
          <dbx-anchor [anchor]="docsAnchor">
            <button mat-flat-button>View Docs</button>
          </dbx-anchor>
          <dbx-button-spacer></dbx-button-spacer>
          <dbx-anchor [anchor]="demoAnchor">
            <button mat-flat-button>View Demo</button>
          </dbx-anchor>
        </div>
      </dbx-content-container>
    </div>
  </div>
</div>
